html{
	background-color: #000202;
	min-width: 300px;
	font-family: arial;
}
 .chartContainer{
 	height: 100%;
 }

 .fluidchartitem{
 	height: 100%;
 }
#header{
	height : 80px;
	display: flex;
}
	#header img {
		max-height: 60%;
	}
#grid-container {
	display: grid;
	grid-template-columns: auto;
  	grid-template-rows: repeat(5, 150px);
	grid-gap: 10px;
}
	#grid-container > div {
		background-color: #21272b;
	}
h1{
	font-size: 30px;
	color: #c7c7c8;
	text-align: center;
	font-family: arial;
}

#countdown{
	font-size: 40px;
	color: #c7c7c8;
	text-align: center;
	font-family: arial;
}


